header {
    background-color: #F3DF6C;
    padding: 1.5rem;
    font-variant: small-caps;
}

.header {
    color: inherit;
    text-decoration: none;
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size: 6.5vh;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.header:hover {
    color: #1d8067;
    transition: color 0.2s ease;
}